@charset "utf-8";

body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url("homeHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(219, 100, 100, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

nav ul li a:hover {
    color: chocolate;
}

.logo {
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: clibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #090b6d;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: myriad pro regular;
    color: #1d0527;
    font-size: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 43%;
    transform: translate(-13%,-42%);
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire-btn {
    border: 2px solid #373636;
    color: #373636;
}

.down-cv {
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}

button:active {
    transform: scale(1.1);
}

footer img {
    height: 8%;
    width: 8%; 
    min-width: 50px;
    min-height: 50px;
}

.column img#git:hover {
    box-shadow: inset 0 0 5px rgb(39, 48, 170), 0 0 5px black;
}

.column img#email:hover {
    box-shadow: inset 0 0 5px rgb(63, 43, 151), 0 0 5px black;
}




.column{
    float:left;
    width: 25%;
    padding: 5px;
  }
